* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sora';
    src: url(../assets/sora-v11-latin-regular.woff2);
}

@font-face {
    font-family: 'Sora';
    src: url(../assets/sora-v11-latin-700.woff2);
    font-weight: bold;
}

body {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    line-height: 1.4;
    background-color: #14191e;
    color: #efefef;
    text-shadow: 0px 0px 5px rgba(18, 23, 28, 0.24);
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

/* Desktop navbar */

.navbar-container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1.5rem 2rem;
}

@media (max-width: 900px) {
    .navbar-container {
        flex-flow: column;
        gap: 1rem;
    }
}

.navbar-logo img {
    width: 100px;
    height: 100px;
}

.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

@media (max-width: 900px) {
    .navbar-list {
        display: none;
        flex-flow: column;
        align-items: center;
    }
}

.list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.list-item:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.list-item a:hover {
    color: #6680FF;
    transition: 0.3s;
}

/* Mobile navbar */

.mobile-navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.mobile-list,
.mobile-list.open {
    width: 100%;
    height: 140px;
    position: absolute;
    top: -2000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.7rem;
    background-color: #14191e;
    border-bottom: 0.5px solid #efefef;
    transition: 0.5s all;
}

.mobile-list.open {
    top: 0;
}

.mobile-list-row1,
.mobile-list-row2 {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.mobile-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #efefef;
    text-shadow: 0px 0px 5px rgba(18, 23, 28, 0.24);
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .mobile-menu-icon {
        display: flex;
        justify-content: center;
    }
}

.menu-icon-open {
    display: block;
}

.menu-icon-close {
    display: none;
}

/* Footer section */

.footer-container {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    border-top: 0.5px solid #efefef;
}

@media (max-width: 650px) {
    .footer-container {
        padding-bottom: 2rem;
    }
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.icons-container svg {
    max-width: 100%;
}

.icons-container a:hover {
    cursor: pointer;
}