RewriteEngine on
RewriteRule ^home?$ index.html
RewriteRule ^staff?$ html/staff.html
RewriteRule ^lfg?$ html/lfg.html
RewriteRule ^supporters?$ html/supporters.html
RewriteRule ^forum?$ html/forum.html