@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #12171c;
    color: #fdfdfd;
}

header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.8), rgba(18, 23, 28, 0.8)), url(images/hero-wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 5rem;
    background-color: ;
}

.navbar-logo img {
    width: 100px;
}

.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.list-item a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: inherit;
}

.list-item a:hover {
    color: #6680FF;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
    margin-top: 4rem;
}

.hero-info {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.hero-title {
    font-size: 3rem;
}

.hero-description {
    width: 50ch;
}

.hero-info .value {
    color: #6680FF;
}

.clans-container {
    display: flex;
    gap: 1rem;
}

.clans-container>.clan {
    padding: 0.2rem 0.5rem;
    background-color: #5865F2;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 8px -3px #000000;
}

.hero-button {
    display: block;
    margin-top: 1.2rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #6680FF;
    outline: 1px solid #5865F2;
    border-radius: 0.3rem;
}

.hero-button:hover {
    background-color: #5865F2;
    color: #fdfdfd;
    cursor: pointer;
}

.hero-gif {
    width: 610px;
}

.hero-gif img {
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 8px -3px #000000;
}

.main-container {
    display: flex;
    flex-flow: column;
    padding: 1.5rem 5rem;
    text-shadow: 1px 1px 1px #000000;
}

.features-title {
    margin: 2rem auto 3rem auto;
}

.founder-name {
    color: #6680FF;
}

.features-container {
    padding: 1rem 2rem 2rem 2rem;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.8), rgba(18, 23, 28, 0.8)), url(images/features-background.jpg);
    background-size: cover;
    background-position: center;
    outline: 1px solid #5865F2;
    border-radius: 0.3rem;
}

.features-description {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #6680FF;
}

.features-list {
    padding-left: 1rem;
}

.rules-title {
    margin: 3rem auto;
    text-align: center;
}

.rules-container {
    display: flex;
    gap: 2rem;
}

.server-regulations {
    flex: 1;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.8), rgba(18, 23, 28, 0.8)), url(images/server-regulations-background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
    outline: 1px solid #5865F2;
}

.server-regulations-title {
    margin: 0.5rem auto 0.8rem auto;
    text-align: center;
    color: #6680FF;
}

.fa-discord {
    display: block;
    margin: auto auto 1rem auto;
    color: #5865F2;
    text-shadow: 1px 1px 1px #000000;
}

.server-regulations-olist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.server-regulations-ulist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.clan-regulations {
    height: 100%;
    flex: 1;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(11, 11, 16, 0.8), rgba(11, 11, 16, 0.8)), url(images/clan-regulations-background.jpg);
    background-size: cover;
    background-position: center;
    outline: 1px solid #5865F2;
    border-radius: 0.3rem;
}

.clan-regulations-title {
    margin: 0.5rem auto 0.8rem auto;
    text-align: center;
    color: #6680FF;
}

.fa-wolf-pack-battalion {
    display: block;
    margin: auto auto 1rem auto;
    color: #5865F2;
    text-shadow: 1px 1px 1px #000000;
}

.clan-regulations-olist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.clan-regulations-sublist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    margin-top: 0.7rem;
    padding-left: 1.2rem;
    list-style-type: upper-latin;
}

.footer-container {
    background-color: #14191e;
    margin-top: 1rem;
    text-align: center;
    padding: 2rem;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.icons-container a {
    color: #fdfdfd;
}

.icons-container a:hover {
    color: #5865F2;
}