* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sora';
    src: url(assets/sora-v11-latin-regular.woff2);
}

@font-face {
    font-family: 'Sora';
    src: url(assets/sora-v11-latin-700.woff2);
    font-weight: bold;
}

body {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4;
    background-color: #12171c;
    text-shadow: 1px 1px 3px rgba(11, 11, 16, 0.5);
    color: #fdfdfd;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.85), rgba(18, 23, 28, 0.85)), url(images/hero-wallpaper.webp);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1300px) {
    header {
        height: 100%;
        padding-bottom: 2rem;
    }
}

.navbar-container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1.5rem 2rem;
}

@media (max-width: 900px) {
    .navbar-container {
        flex-flow: column;
        gap: 1rem;
    }
}

.navbar-logo img {
    width: 100px;
    height: 100px;
}

.navbar-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

@media (max-width: 900px) {
    .navbar-list {
        display: none;
        flex-flow: column;
        align-items: center;
    }
}

.list-item a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    color: inherit;
}

.list-item:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.list-item a:hover {
    color: #6680FF;
    transition: 0.3s;
}

.mobile-navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.mobile-list {
    width: 100%;
    height: 140px;
    position: absolute;
    top: -2000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 0.7rem;
    background-color: #14191e;
    border-bottom: 0.5px solid #fdfdfd;
    transition: 0.5s all;
}

.mobile-list.open {
    top: 0;
}

.mobile-list-row1 {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


.mobile-list-row2 {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.mobile-list-item a {
    font-size: 1.1rem;
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(11, 11, 16, 0.5);
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(11, 11, 16, 0.5);
    transition: 0.3s;
}

@media (max-width: 900px) {
    .mobile-menu-icon {
        display: flex;
        justify-content: center;
    }
}

.menu-icon-open {
    display: block;
}

.menu-icon-close {
    display: none;
}

.hero-container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 4rem auto 0 auto;
    gap: 3rem;
}

@media (max-width: 1300px) {
    .hero-container {
        flex-flow: column;
        justify-content: center;
        margin-top: 1rem;
    }
}

@media (max-width: 700px) {
    .hero-container {
        padding: 0 1rem;
    }
}

.hero-info {
    width: 600px;
    height: auto;
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

@media (max-width: 650px) {
    .hero-info {
        width: auto;
    }
}

.hero-title {
    font-size: 2.5rem;
}

@media (max-width: 650px) {
    .hero-title {
        text-align: center;
        font-size: 1.5rem;
    }
}

.hero-info .value {
    color: #6680FF;
}

.clans-container {
    display: flex;
    gap: 1rem;
}

@media (max-width: 650px) {
    .clans-container {
        text-align: center;
        flex-flow: column;
        gap: 0.6rem;
    }
}

.clans-container>.clan {
    padding: 0.4rem 0.7rem;
    color: #fdfdfd;
    background-color: rgba(11, 11, 16, 0.5);
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1px 1px rgba(88, 101, 242, 0.6);
}

.hero-button {
    padding: 1rem 2rem;
    margin-top: 0.7rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #6680FF;
    background-color: rgba(11, 11, 16, 0.5);
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1px 1px rgba(88, 101, 242, 0.6);
}

.hero-button:hover {
    background-color: rgba(88, 101, 242, 0.5);
    color: #fdfdfd;
    box-shadow: 0px 0px 1px 1px rgba(11, 11, 16, 0.6);
    cursor: pointer;
}

.hero-gif {
    width: 600px;
    flex: 1;
}

@media (max-width: 650px) {
    .hero-gif {
        width: auto;
    }
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 8px -3px rgba(11, 11, 16, 0.8);
}

.main-container {
    max-width: 1300px;
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 1.5rem 2rem;
}

@media (max-width: 650px) {
    .main-container {
        padding: 1.5rem 1rem;
    }
}

.features-title {
    margin: 2rem auto 3rem auto;
}

.founder-name {
    color: #6680FF;
}

.features-container {
    padding: 1rem 2rem 2rem 2rem;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.85), rgba(18, 23, 28, 0.85)), url(images/features-background.webp);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 1px 2px rgba(88, 101, 242, 0.6);
    border-radius: 0.3rem;
}

@media (max-width: 650px) {
    .features-container {
        padding: 1rem 1.5rem 2rem 1.5rem;
    }
}

.features-description {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #6680FF;
}

.features-list {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding-left: 1rem;
}

.rules-title h2 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin: 4rem auto 3rem auto;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 650px) {
    .rules-title h2 {
        display: block;
        margin: 3rem auto 2rem auto;
    }
}

.rules-title h2:after,
.rules-title h2:before {
    content: " ";
    display: block;
    height: 5px;
    border-bottom: 1px solid rgba(88, 101, 242, 0.7);
    border-top: 1px solid rgba(88, 101, 242, 0.6);
    background-color: #14191e;
}

@media (max-width: 650px) {

    .rules-title h2:after,
    .rules-title h2:before {
        display: none;
    }
}

.rules-container {
    display: flex;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .rules-container {
        flex-flow: column;
    }
}

.server-regulations {
    flex: 1;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(18, 23, 28, 0.85), rgba(18, 23, 28, 0.85)), url(images/server-regulations-background.webp);
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1px 2px rgba(88, 101, 242, 0.6);
}

@media (max-width: 650px) {
    .server-regulations {
        padding: 2rem 1.5rem;
    }
}

.server-regulations-title {
    margin: 0.5rem auto 0.8rem auto;
    text-align: center;
    color: #6680FF;
}

.discord-icon {
    display: block;
    max-width: 100%;
    margin: auto;
}

.server-regulations-olist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.server-regulations-ulist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.clan-regulations {
    height: 100%;
    flex: 1;
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(11, 11, 16, 0.8), rgba(11, 11, 16, 0.8)), url(images/clan-regulations-background.webp);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 1px 2px rgba(88, 101, 242, 0.6);
    border-radius: 0.3rem;
}

@media (max-width: 650px) {
    .clan-regulations {
        padding: 2rem 1.5rem;
    }
}

.clan-regulations-title {
    margin: 0.5rem auto 0.8rem auto;
    text-align: center;
    color: #6680FF;
}

.wolf-icon {
    display: block;
    margin: auto;
    max-width: 100%;
}

.clan-regulations-olist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    padding: 1rem;
}

.clan-regulations-sublist {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    margin-top: 0.7rem;
    padding-left: 1.2rem;
    list-style-type: upper-latin;
}

.footer-container {
    background-color: #14191e;
    margin-top: 1rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 650px) {
    .footer-container {
        padding-bottom: 3rem;
    }
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.icons-container a {
    text-shadow: 1px 1px 2px rgba(11, 11, 16, 0.6);
}

.icons-container a:hover {

    cursor: pointer;
}

.icons-container a svg {
    max-width: 100%;
}